/* === FONTS === */
    @font-face {
        font-family: MontLight;
        src: url(../Fonts/Mont/Mont-ExtraLightDEMO.otf);
    }

    @font-face {
        font-family: MontHeavy;
        src: url(../Fonts/Mont/Mont-HeavyDEMO.otf);
    }

    @font-face {
        font-family: Futura;
        src: url(../Fonts/Futura/Futura\ Std\ Book.ttf);
    }

    @font-face {
        font-family: FuturaBold;
        src: url(../Fonts/Futura/Futura\ Bold.ttf);
    }

    /* Variable declaration */

    :root {
        --black: #000000;
        --darkGrey: #1c1c23;
        --lightGrey: #2e2e30;
        --darkGreyBlue: #2b3943;
        --lightGreyBlue: #4f6779;
        --lightBlue: #beeff6;
        --whiteBlue: #c9e7eb;
        --white: #fff;
        --normalBoxShadow: 3px 5px 15px var(--black);

        

    }

    /* === Main document styling === */

    * {
        font-family: MontLight;
        background-color: var(--darkGreyBlue);
        scroll-behavior: smooth;
        color: var(--white);
    }

    *::-webkit-scrollbar-corner {
        background: var(--darkGreyBlue);
       }

    button {
        cursor: pointer;
    }

    body {
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: var(--darkGrey);
    }

    /* To allow for parallax effect on scroll */


    ::-webkit-scrollbar {
        width: 10px;   
        
    }

    ::-webkit-scrollbar-track {
        background: var(--lightGreyBlue);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--darkGreyBlue);
        border-radius: 50px;
        
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--darkGrey);
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }


    main , footer {
        top: 0px;
    }

    .header {
        font-size: 60px;
        color: var(--white);
        text-shadow: 0px 5px 15px var(--black);
        font-family: MontHeavy;
        display: flex;
        justify-content: center;
        margin: 5px auto;
    }



/* === NAVIGATION SECTION === */

    header {
        box-sizing: border-box;
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 65px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: #ffffff25;
        backdrop-filter: blur(15px);
        transition: 0.3s ease;
    }

    header .NavBar {
        position: relative;
        width: 100%;
        height: 65px;
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 0 50px;
        transition: 0.5s ease-in-out;

    }
    

    a {
        text-decoration: none;
    }



    li {
        float: left;
        padding: 22.5px;
    }

    li:hover {
        backdrop-filter: blur(30px);
    }

    .NavBarHome, .NavBarTour, .NavBarLoginSignup, .NavBarAbout, .NavBarAdminDashboard, .NavBarLogout, .NavBarProfile, .LogoNavBar {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-family: Futura;
        letter-spacing: 1px;
        font-size: 20px;
        color: var(--white);
        transition: 0.5s;
        text-shadow: 0 3px 20px rgba(4, 4, 4, 0.603);

    }

    

    .LogoNavBar {
        font-size: 25px;
        padding: 20px;
        font-family: MontHeavy;
    }

    .DropdownProfileMenu {
        position: relative;
        display: inline-block;
    }

    .DropdownContent {
        display: none;
        position: absolute;
        font-size: 20px;
        width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding-top: 65px;
        backdrop-filter: blur(30px);
        background-color: #2b39438a;
        border-radius: 10px;
        z-index: 1;
    }

    .DropdownProfileMenu:hover .DropdownContent {
        display: block;
    }

    .DropdownContent li {
        width: 115px;
    }

    .LogoutButton:hover {
        background-color: rgb(184, 88, 88);
        border-radius: 10px;
    }


/* === NAVIGATION SECTION END === */

/* === FIRST OPENING OF WEBSITE START === */
/* what the viewer sees when they first open the website. */

    #TopOfPage {
        position: absolute;
        top: 0px;
    }

    .OpeningContent {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 100px;
        flex-direction: column;
        transform-style: preserve-3d;
        z-index: 1;
    }

    .MainLogo, .CallToActionText {
        z-index: 2;
    }

    .CallToActionText {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 700px;
        font-size: 80px;
        z-index: 15;
    }

    .CallToActionText h2 {
        transform: translateY(-30px);
    }

    .BookTickets {
        position: absolute;
        transform: translateY(50px);
        cursor: pointer;
        font-size: 20px;
        padding: 20px;
        margin: 10px auto;
        border: none;
        border-radius: 10px;
        box-shadow: var(--normalBoxShadow);
        background-color: #26262fbd;
        transition: 0.3s;
    }

    .BookTickets:hover {
        background-color: var(--darkGreyBlue);
    }

    h1 {
        font-family: MontHeavy;
        font-size: 150px;
        position: absolute;
        left: 5%;
        top: 200px;
        text-transform: uppercase;
        text-shadow: 0px 1px 10px rgb(10, 10, 10); 
        -webkit-clip-path: polygon(95% 0, 100% 100%, 0 85%, 0 00%);
        clip-path: polygon(95% 0, 100% 100%, 0 85%, 0 0%);
        opacity: 1;
        animation-name: titleAnimation;
        animation-timing-function:ease;
        animation-duration: 3s;
        text-align: left;
    }
    

    .OpeningVideo .VideoBand {
        position: absolute;
        top: 0;
        left: 0;
        height: 1000px;
        z-index: -1;
        filter: brightness(40%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateZ(-10px) ;
        
    }

    .VideoBandgrad, .VideoBandRevgrad{
        position: absolute;
        top: 0;
        left: 0;
        height: 1000px;
        aspect-ratio: 16/9;
        z-index: 5;
    }
    
    .VideoBandgrad {
        background-image: linear-gradient(rgba(0,0,0,0) 60% , rgb(0,0,0) 100%);
    }

    .VideoBandRevgrad {
        top: 1000px;
        height: 600px;
        width: 100%;
        background-image: linear-gradient(rgb(0, 0, 0) 0% , rgba(0, 0, 0, 0) 50%);
    }

    .SocialMediaIcons {
        z-index: 3;
        margin-top: 250px;
    }

    .SocialMediaIcons i{
        font-size: 30px;
        margin: 40px;

    }

    @keyframes titleAnimation {
        0% {
          transform: translateX(-150px);
          opacity: 0;
          -webkit-clip-path: polygon(80% 20%, 100% 40%, 0 60%, 0 50%);
          clip-path: polygon(90% 20%, 100% 40%, 0 60%, 0 50%);
      }
      100% {
          transform: translateX(0px);
          opacity: 1;
          -webkit-clip-path: polygon(95% 0, 100% 100%, 0 85%, 0 0%);
          clip-path: polygon(95% 0, 100% 100%, 0 85%, 0 0%);
      }
    }



/* === FIRST OPENING OF WEBSITE END === */

/* === MUSIC SECTION START === */

    .MusicBackground {
        position: relative;
        top: 800px;
        width: 100vw;
        height: 600px;
        opacity: 90%;
        filter:saturate(30%);
        object-fit: cover;
        z-index: 0;
    }

    .MusicContent {
        position: relative;
        top: 250px;
        z-index: 10;
    }

    .SpotifyPlaylists {
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

/* === MUSIC SECTION END === */

/* === ABOUT US SECTION  === */

    .AboutUsSection {
        position: relative;
        top: 300px;
    }

    #AboutUsSection {
        position: relative;
        top: -55px;
    }
    
    .TexturedBackground {
        position: relative;
        top: -30px;
        background-image: url(../Images/OtherPhotos/BlackTexture.jpg);
        width: 100%;
        height: 830px;
        filter: opacity(80%);
    }

    .AboutUs {
        margin-bottom: 30px;
    }

    .AboutUsContent {
        position: absolute;
        top: 10px;
    }

    .BandImages {
        width: 480px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .BandImageOne {
        position: absolute;
        background-image: url(../Images/BestBandPictures/BandBackground.png);
        width: 544px;
        height: 306px;
        background-size: contain;
        left: 50px;
        top: 60px;
        box-shadow: var(--normalBoxShadow);
        transform: rotate(5deg);
    }

    .BandImageTwo {
        position: absolute;
        background-image: url(../Images/BestBandPictures/BandPicture2.png);
        width: 544px;
        height: 306px;
        background-size: contain;
        top: 350px;
        left: 670px;
        box-shadow: var(--normalBoxShadow);
        transform: rotate(-5deg);
    }

    .AboutMeText {
        font-size: 20px;
    }

    .TapeImage {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../Images/OtherPhotos/TapeIMG.png);
        box-shadow: 0 0 15px #00000066;
        height: 50px;
        width: 300px;
        z-index: 5;
    }

    .TapeImage.One {
        position: absolute;
        top: 370px;
        left: 1080px;
        transform: rotate(40deg);
    }

    .TapeImage.Two {
        position: absolute;
        top: 330px;
        left: -40px;
        transform: rotate(60deg);
    }

    .ParagraphOneBox {
        position: relative;
        width: 500px;
        left: 530px;
        top: 50px;
        background-color: #2b3943a2;
        border-radius: 20px;
        padding: 20px;
        box-shadow: var(--normalBoxShadow);
    }

    .ParagraphTwoBox {
        position: relative;
        width: 500px;
        left: 180px;
        top: 260px;
        background-color: #2b3943a2;
        border-radius: 20px;
        padding: 20px;
        box-shadow: var(--normalBoxShadow);
    }

    .ParagraphOne, .ParagraphTwo {
        font-family: MontLight;
        letter-spacing: 1px;
        line-height: 25px;
    }

/* === ABOUT US SECTION END === */


/* === GALLERY SECTION === */

    .GallerySection {
        position: relative;
        top: 300px;
    }

    .TexturedBackground.Two {
        background-image: url(../Images/OtherPhotos/BlackTexture2.jpg);
        height: 700px;
    }

    .GalleryContent {
        position: absolute;
        left: 10%;
        top: 10px;
    }

    .header.Gallery {
        position: relative;
        left: 400px;
        margin-bottom: 20px;
        z-index: 0;
    }

    /* Setting widths and heights of the carousel */
    .carousel{
        width: 1000px;
        height: 500px;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: var(--normalBoxShadow);
        z-index: 300;
    }

    /* Setting traits of the 5 buttons */
    .-button{
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        color: var(--lightGreyBlue);
        font-size: 40px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        transition: 0.5s;
        margin-top: 20%;
    }

    /* hover animations for the buttons */
    .-button:hover{
        color: var(--whiteBlue);
        background: rgba(0, 0, 0, 0.6);
    }

    /* Spacing the buttons out */
    .prev{
        left: 25px;
    }

    .next {
        right: 25px
    }

    /* Making sure the slides are directly next to each other */
    .radioandslides {
        width: 500%;
        height: 500px;
        display: flex;
        z-index: 50;
    }

    /* Making sure the original radio buttons don't show */
    .radioandslides input{
        display: none;
    }

    /* Setting traits of the slides */
    .slide {
        width: 20%;
        transition: 2s;
    }

    .slide img{
        width: 1000px;
    }

    /* Creating the manual navigation */

    .ManualNavigation {
        position: absolute;
        width: 1000px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    /* Setting traits of the radio buttons on the bottom */
    .Manualbtn {
        border: 3px solid var(--lightGreyBlue);
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.5s;
    }

    /* Spacing the radio buttons out */
    .Manualbtn:not(:last-child) {
        margin-right: 30px;
    }

    /* Setting hover animations for the radio buttons (filling them in) */
    .Manualbtn:hover {
        background: var(--lightGreyBlue);
    }

    /* If the radio buttons are checked, then it moves right until it reaches the desired image */
    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -20%;
    }

    #radio3:checked ~ .first {
        margin-left: -40%;
    }

    #radio4:checked ~ .first {
        margin-left: -60%;
    }

    #radio5:checked ~ .first {
        margin-left: -80%;
    }

    /*  */
    .AutoNavigation {
        position: absolute;
        display: flex;
        width: 1000px;
        justify-content: center;
        margin-top: 460px;
    }

    .AutoNavigation div{
        border: 3px solid var(--lightGreyBlue);
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

    .AutoNavigation div:not(:last-child) {
        margin-right: 30px;
    }

    #radio1:checked ~ .AutoNavigation .Autobtn1 {
        background: var(--lightGreyBlue)
    }

    #radio2:checked ~ .AutoNavigation .Autobtn2 {
        background: var(--lightGreyBlue)
    }

    #radio3:checked ~ .AutoNavigation .Autobtn3 {
        background: var(--lightGreyBlue)
    }

    #radio4:checked ~ .AutoNavigation .Autobtn4 {
        background: var(--lightGreyBlue)
    }

    #radio5:checked ~ .AutoNavigation .Autobtn5 {
        background: var(--lightGreyBlue)
    }

    /* === GALLERY SECTION END === */

    /* === MAILING LIST SECTION START === */

    .MailingList {
        position: relative;
        top: 300px;
    }

    .TexturedBackground.Three {
        background-image: url(../Images/OtherPhotos/BlackTexture3.jpg);
        height: 750px;
    }

    .GetInTouch {
        position: relative;
        left: 90px;
    }
    
    .MailingListContent {
        position: absolute;
        left: 10%;
        top: 10px;
    }

    .CallToSubscribe {
        font-size: 20px;
        position: relative;
        left: 90px;
        margin-bottom: 10px;
    }

    .MailingListForm .Input {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid var(--white);
        margin: 30px;
        width: 400px;
    }

    .MailingListForm .Input input{
        font-family: Futura;
        letter-spacing: 1px;
        font-size: 20px;
        border: none;
        outline: none;
        background: none;
        width: 100%;
        padding-bottom: 5px;
    }

    .MailingListForm .Input i{
        font-size: 20px;
        margin-right: 10px;
        padding-bottom: 5px;
    }

    .Emails {
        position: absolute;
        top: 105px;
    }

    .Forename {
        position: absolute;
        top: 212px;
    }

    .Surname {
        position: absolute;
        top: 325px;
    }

    .Country {
        position: absolute;
        top: 105px;
        left: 550px;
    }

    .DateOfBirth {
        position: absolute;
        top: 212px;
        left: 550px;
    }

    .SubmitButton {
        position: absolute;
        top: 325px;
        left: 580px;
    }


    .SubmitButton {
        cursor: pointer;
        font-family: Futura;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 20px;
        background: var(--white);
        color: var(--lightGreyBlue);
        border: none;
        outline: none;
        border-radius: 5px;
        width: 400px;
        padding: 10px 25px;
        margin-top: 20px;
        transition: 0.3s ease;
    
    }
    
    .SubmitButton:hover {
        background-color: var(--lightBlue);
    }

    /* === MAILING LIST SECTION END === */


    /* === FOOTER SECTION START === */

    footer {
        position: relative;
        top: 30px;
        height: 200px;
    }

    .TexturedBackground.Four {
        background-image: url(../Images/OtherPhotos/BlackTexture4.jpg);
        height: 300px;
    }

    .FooterContent {
        position: absolute;
        left: 10%;
        top: 10px;
    }

    .FooterIcon {
        position: absolute;
        top: 100px;
        margin: 0 auto;
        font-size: 30px;
    }

    .FooterIcon.One {
        left: 325px;
    }

    .FooterIcon.Two {
        left: 475px;
    }

    .FooterIcon.Three {
        left: 625px;
    }