* {
    color: var(--white);
    font-family: Montserrat;
}

body {
    background-color: var(--darkGreyBlue);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 65px;
}

.hidden, .notshown {
    display: none;
}

li {
    text-decoration: none;
    list-style: none;
}



.Sidebar {
    width: 100%;
    top: 65px;
    background-color: var(--darkGrey);
}

.SideBarText {
    font-family: MontLight;
    letter-spacing: 1px;
    padding: 5px;
    float: left;
}

.SideBarList {
    display: flex;
    text-decoration: none;
}

.SideBarList li {
    float: left;
    padding: 22.5px;
}

.OverviewBox:hover, .MyEventsBox:hover, .MyOrdersBox:hover, .AnalyticsBox:hover, .SettingsBox:hover  {
    background-image: var(--peachGradientFaded);
    transition: 0.3s;
}

.uil {
    padding: 5px;
    float: left;
}

.SideBarList .uil {
    position: relative;
    top: -2px;
}

.SearchBox {
    width: 270px;
    height: 40px;
    border-radius: 500px;
    position: absolute;
    top: 13px;
    left: 970px;
    padding-left: 20px;
    font-size: 20px;
    border: none;
    
}

.SearchBox:hover {
    box-shadow: 0 0 20px var(--black);
}


.searchButton {
    background-image: var(--peachGradientFaded);
    position: absolute;
    top: 13px;
    left: 1215px;
    font-size: 20px;
    width: 48px;
    height: 43px;
    border-radius: 50%;
    padding: none;
    z-index: 30;
    cursor: pointer;
}

.uil-search {
    position: relative;
    top: 5px;
    left: 8px;
}


.TimeButtons, .ButtonsText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TimeButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    transition: 1s;
}

.TimeButtons .TimeButton, .TimeButtons .TimeButtonCustom, .TimeButtons .ShowCustomDatesSubmit {
    font-family: MontLight;
    height: 50px;
    width: 280px;
    margin: 0 5px;
    background-color: var(--darkGrey);
    background: linear-gradient(var(--darkGrey), var(--darkGrey)) padding-box,
                var(--peachGradientFaded) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.733);
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 800;
}




#ShowCustomDateDashboardForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DateOne, .DateTwo, .ShowCustomDatesSubmit {
    margin-top: 40px;
    position: relative;
}

.DateOne {
    left: -20px;
}

.ShowCustomDatesSubmit {
    top: 20px;
    right: -20px;
}

.TimeButtons input[type=date] {
    height: 40px;
    background: linear-gradient(var(--darkGrey), var(--darkGrey)) padding-box,
                var(--peachGradient) border-box;
    border: 5px solid transparent;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
}

.TimeButtons button:active {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.TimeButtons .selected {
    background-image: var(--peachGradient);
    border: none;
}

.ButtonsText {
    position: relative;
    top: -30px;
    -webkit-user-select: none;
    user-select: none;
}

.RadioText {
    margin-left: 40px;
}

.OverviewTimeButtons input[type="radio"] {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    background-color: var(--lightGreyBlue);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.421);
    transition: 0.3s;
    appearance: none;
    -webkit-appearance: none;
}
  
.OverviewTimeButtons input[type="radio"]:focus { 
    outline: none;
}
  
.OverviewTimeButtons input[type="radio"]:checked { 
    background-color: var(--lightGrey);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.421);
}


.OverviewText {
    font-size: 70px;
    margin: 30px;
    font-family: MontHeavy;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OverviewBoxes, .SmallBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.OverviewBoxes .Box {
    background-color: var(--lightGreyBlue);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    width: 330px;
    height: 130px;
}

.SmallBoxes .SmallBox {
    background-color: var(--lightGreyBlue);
    padding: 10px;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
    width: 330px;
    height: 70px;
}

.OverviewBoxes .Topic, .SmallBoxes .SmallTopic {
    font-family: Futura;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OverviewBoxes .Topic {
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 10px;
}

.SmallBoxes .SmallTopic {
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 5px;
}

.OverviewBoxes .Text, .SmallBoxes .SmallText {
    font-family: Futura;
    display: flex;
    align-items: center;
    justify-content: center;
}

.OverviewBoxes .Text {
    font-size: 60px;
    font-weight: 500;
    margin-top: 20px;
}

.SmallBoxes .SmallText {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.OverviewBoxes .uil {
    padding: 0;
    font-size: 20px;
    position: relative;
}

.MyEventsSection {
    position: relative;
    top: 50px;
}

.MyEventsSection .MyEventsText {
    font-family: MontHeavy;
    font-size: 50px;
    margin: 20px;
}

.MyEventsSection .MyEventsTable {
    width: 1100px;
    background-color: var(--lightGreyBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    
}

.MyEventsSection .EventsTableRow {
    background-color: var(--darkGrey);
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
}

.DayAndMonthBox {
    background-color: var(--lightGrey);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    height: 60px;
}

.EventMonth, .EventDay {
    font-family: MontHeavy;
}

.EventMonth {
    font-size: 20px;
}

.EventDay {
    font-size: 40px;
}

.EventTime, .EventVenueNameCity {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.RestOfEventContent {
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EventName {
    font-family: Futura;
    font-weight: 5000;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 20px;
}

.ViewTicketPage {
    font-family: Futura;
    letter-spacing: 1px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 200px;
}



.TimeAndCity {
    margin-right: 30px;
}

.Buttons {
    position: absolute;
    left: 900px;
}

.MoreDetailsButton, .ViewTicketPageButton {
    margin: 10px;
    width: 200px;
}


.EventMoreDetails {
    position: relative;
}



